PORT=3334
HOST=0.0.0.0
NODE_ENV=development
DATABASE_URL=postgresql://harddex:harddex123@localhost:5432/harddex_db
FIREBASE_SERVICE_ACCOUNT_PATH=../infra/firebase/serviceAccountKey.json
FIREBASE_STORAGE_BUCKET=harddex-XXXXX.appspot.com
